.header img {
    height: 80px;
}

.header ul {
    background-color: #000000;
}

.header li {
    display: inline-block;
    list-style: none;
    margin-right: 15px;
    padding: 5px;
    line-height: 30px;
    color: #ffffff;
}

.header a {
    text-decoration: none;
    color: #ffffff;
}

.header li:hover {
    background-color: lightgray;
}